*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	--bg-1: #2e2e52;
	--bg-2: #dbe2f0;
	--bg-3: #c3d1e3;
	--color-1: #dbe2f0;
}

body {
	margin: 0;
	font-family: 'Kanit', sans-serif;
	background-color: var(--bg-1);
	color: var(--color-1);
	font-size: 30px;
}

a {
	color: inherit;
	display: block;
}

input,
button {
	width: 100%;
	font-family: 'Kanit', sans-serif;
	background: transparent;
	outline: none;
	border: none;
	color: inherit;
}
